1_MDA10K_GitHub/MDA_Data/
2_MDA10K_Github_orig/10K-MDA-Section/XLSX_Files
2_MDA10K_Github_orig/10K-MDA-Section/XLSX_Files_MDATone
3_Social_Monitoring/GetOldTweets3/A_Tweet_Data/
3_Social_Monitoring/3_Reddit_Scrape/
3_Social_Monitoring/GetOldTweets3/Ciarans_Data/
